.sy-main-container {
     background-color: #f1f1f1;
    /*position: absolute;*/
    height: 650px;
    top: 15%;
    padding: 0;
}

 .name h1{
    zoom: 1;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: "Times New Roman";
    font-size: 30px;
     margin: 15px;
}

ul {
    list-style-type: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}




.widget {
    border-radius: 10px;    
    width: 430px;
    height: 560px;
    top: 50px;
    /*position: absolute;*/
    padding: 0;
    background-color: aliceblue;
}

div.hr {
    background: #fff  no-repeat scroll center;
    /*margin-left: 15em;*/
    /*margin-right: 15em;*/
    /*width:50em;*/
    height:.05em;
}
